.container {
  margin-top: 40px;
}

.staff {
  background-color: rgb(253, 195, 6);
}
.reset {
  background-color: rgb(99, 99, 99);
}

.action {
  display: flex;
}

.edit {
  background-color: rgb(236, 236, 152);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.delete {
  background-color: rgb(250, 6, 6);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.container button {
  float: right;
  margin: 15px;
}

table {
  width: 100%;
}

// .search-column {
//   display: flex;
// }
